.emi-calculator-container {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  
}
.btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

h1,
h2 {
  color: #333;
}